body {
    margin: 0 0;
    padding: 0;
    background: #ffffff;
    color: #555555;
    font: normal 1em/1.4em Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
}

div#c0nt3nt {
    width: 900px;
    margin: auto;
}

a img {
    border: 0;
}

input {
    border: 1px solid array;
    font-size: 20px;
    margin: 20px;
    width: 200px;
}

textarea {
    width: 490px;
    font-size: 10px;
}

h2 {
    color: #C76114;
    margin: 0;
}

h3 {
    margin: 0;
}

pre {
    white-space: pre-wrap; /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla depuis 1999 */
    white-space: -pre-wrap; /* Opera 4 à 6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* IE 5.5+ */
    overflow: auto;/* IE 6 */
}

.prettyprint {
    text-align: left;
}
