body {
    margin: 0 0;
    padding: 0;
    background: #ffffff;
    color: #555555;
    font: normal 1em/1.4em Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
}

div#c0nt3nt {
    width: 500px;
    margin: auto;
}

a img {
    border: 0;
}

input {
    border: 1px solid array;
    font-size: 20px;
    margin: 20px;
    width: 300px;
}

textarea {
    width: 300px;
    font-size: 20px;
}

h2 {
    color: #C76114;
    margin: 0;
}

h3 {
    margin: 0;
}

.prettyprint {
    text-align: left;
}
